 .anaconda/
 .azuredatastudio/
        .bash_history
        .cisco/
        .conda/
        .condarc
        .continuum/
        .databricks-sdk/
        .databricks/
        .databrickscfg
        .ipynb_checkpoints/
        .ipython/
        .jupyter/
        .virtual_documents/
        .vscode/
        AppData/
        Contacts/
        Desktop/
        Documents/
        Downloads/
        Favorites/
        IntelGraphicsProfiles/
        Links/
        Music/
        NTUSER.DAT
        NTUSER.DAT{2b8a170d-45b8-11f0-a94e-ad0eec3eac0c}.TM.blf
        NTUSER.DAT{2b8a170d-45b8-11f0-a94e-ad0eec3eac0c}.TMContainer00000000000000000001.regtrans-ms
        NTUSER.DAT{2b8a170d-45b8-11f0-a94e-ad0eec3eac0c}.TMContainer00000000000000000002.regtrans-ms
        OneDrive - LTIMindtree/
        OneDriveCloudTemp/
        Pictures/
        PycharmProjects/
        Saved Games/
        Searches/
        Videos/
        azuredatastudio-python/
        desktop.ini
        ntuser.dat.LOG1
        ntuser.dat.LOG2
        ntuser.ini
        untitled.py